<script lang="ts" >
import { Drug, HealthStatus } from 'hospital-lib/src/patientsRegister';

export default {
    name: 'ListFromTable',
    data() {
        return {
            healthStatusSelected: [],
            healthStatusAvailable: Object.values(HealthStatus),
            drugsSelected: [],
            drugsAvailable: Object.values(Drug),
        }
    },
    methods: {
        addDrugsAndHealthStatusManually() {
          this.healthStatusSelected.forEach(healthStatus => {
            this.$emit('add-health-status', healthStatus)
            })
          this.drugsSelected.forEach(drug => {
            this.$emit('add-drugs', drug)
          })

        },
    },
    emits: ['add-health-status', 'add-drugs'],
}

</script>

<template>
    <header>Manual input</header>

<h3>Health status</h3>
<ul>
  <li v-for="healthStatus in healthStatusAvailable">
    <input type="checkbox" :id="healthStatus" :value="healthStatus" v-model="healthStatusSelected">
    <label :for="healthStatus">{{healthStatus}}</label>
  </li>
</ul>

<h3>Drugs</h3>
<ul>
  <li v-for="drug in drugsAvailable">
    <input type="checkbox" :id="drug" :value="drug" v-model="drugsSelected">
    <label :for="drug">{{drug}}</label>
  </li>
</ul>
<button @click="addDrugsAndHealthStatusManually">Add</button>   
</template>
