<script lang="ts" >
export default {
    name: 'ListFromTable',
    props: {
        data: {
            type: Array<string>,
            required: true
        },
        messageError: {
            type: String,
            required: false
        }
    },
}

</script>

<template>
    <div v-if="messageError">{{ messageError }}</div>
    <div v-else-if="data">
    <div v-for="(element, index) in data" class="element" :key="index">
        {{ element }}
    </div>
    </div>
    <div v-else>Loading...</div>
</template>

<style scoped>
.element {
    color: black;
}
    
</style>
