<script lang="ts" >
import type { Log } from '@/types';

export default {
    name: 'ResultsList',
    props: {
        logs: {
            type: Array<Log>,
            required: true
        },
    }
}

</script>

<template>
    <div v-for="(log, index) in logs" class="line" :key="index">
        Drugs used: {{ log.drugs }} = From: {{ log.input }} => To: {{ log.output }}
    </div>
</template>

<style scoped>
.line {
    color: black;
}
    
</style>
