<script lang="ts">
  import PatientService from './services/patient';
  import DrugService from './services/drug';
  import ListFromTable from './components/ListFromTable.vue';
  import ResultsList from './components/ResultsList.vue';
  import type { Log } from './types';
  import { HealthStatus, Drug, type PatientsRegister } from 'hospital-lib/src/patientsRegister';
  import {Quarantine} from 'hospital-lib/src/quarantine';
  import { patientRegisterToList } from './utils';
import InputPatients from './components/InputPatients.vue';
  
  export default {
    name: 'App',
    data() {
        return {
            autoRefresh: false,
            loading: false,
            timer: 0,
            patientsHealthStatus: <PatientsRegister>{},
            patientsHealthStatusFormatted: <string[]>[],
            patientsHealthStatusError: <string | undefined>undefined,
            drugsToApply: <Drug[]>[],
            drugsError: <string | undefined>undefined,
            logs: <Log[]>[],
        };
    },
    created() {
        this.refreshData();
    },
    updated() {
      if(this.autoRefresh && this.timer === 0){
        this.timer = setInterval(()=>{
          this.refreshData();
          this.applyDrugs();
        }, 30000);
      }else if(!this.autoRefresh){
        this.cancelAutoRefresh();
      }
    },
    beforeUnmount(){
      this.cancelAutoRefresh()
    },
    methods: {
        clearAll(){
          this.patientsHealthStatus = {};
          this.patientsHealthStatusFormatted = [];
          this.patientsHealthStatusError = undefined;
          
        },
        refreshData() {
            PatientService.getPatientsHealthStatus().then((result) => {
                let patientsHealthStatusObject: PatientsRegister = {}
                result.data.forEach((healthStatus: string)=> {
                  if(healthStatus in patientsHealthStatusObject){
                    patientsHealthStatusObject[healthStatus] += 1;
                  }else{
                    patientsHealthStatusObject[healthStatus] = 1;
                  }
                });
                this.patientsHealthStatus = patientsHealthStatusObject;
                this.patientsHealthStatusFormatted = patientRegisterToList(patientsHealthStatusObject);
                this.patientsHealthStatusError = result.error ? result.error.message : undefined;
            });
            DrugService.getDrugs().then((result) => {
                this.drugsToApply = result.data as Drug[];
                this.drugsError = result.error ? result.error.message : undefined;
            });

        },
        applyDrugs() {
          const quarantine = new Quarantine(this.patientsHealthStatus);
          let newLog:Log = {drugs:this.drugsToApply,input:this.patientsHealthStatus};

          quarantine.setDrugs(this.drugsToApply);
          quarantine.wait40Days();

          newLog.output = quarantine.report()

          if(this.logs.length >= 10) this.logs.shift()
          this.logs.push(newLog);
        },
        addPatientsHealthStatus(healthStatus: HealthStatus){
          this.patientsHealthStatus[healthStatus] =
            healthStatus in this.patientsHealthStatus ? this.patientsHealthStatus[healthStatus] + 1 : 1
            this.patientsHealthStatusFormatted = patientRegisterToList(this.patientsHealthStatus);
        },
        addDrugsToApply(drug: Drug){
          if(!(this.drugsToApply.includes(drug))){
              this.drugsToApply.push(drug)
            }  
        },
        cancelAutoRefresh () {
            clearInterval(this.timer);
            this.timer = 0;
        }
    },
    components: { ListFromTable, ResultsList, InputPatients }
}
</script>

<template>
  <section>
    <button @click="clearAll">Clear All</button>
    <button @click="refreshData">Refresh</button>
    <button @click="applyDrugs">Apply drugs (from server)</button>

    <input
      type="checkbox"
      id="autoRefresh"
      value="autoRefresh"
      name="autoRefresh"
      v-model="autoRefresh"
    />
    <label for="autoRefresh">Activate auto refresh(30s)</label><br />

    <p>auto refresh: {{ autoRefresh }}</p>

    <section>
        <InputPatients @add-health-status="addPatientsHealthStatus" @add-drugs="addDrugsToApply"/>
    </section>

    <section class="section">
      <header class="header">
        <h2>Consenting patients</h2>
      </header>
      <ListFromTable :data="patientsHealthStatusFormatted" :messageError="patientsHealthStatusError"/>

    </section>

    <section class="section">
      <header class="header">
        <h2>Drugs to apply</h2>
      </header>

      <ListFromTable :data="drugsToApply" :messageError="drugsError" />
    </section>

    <section class="section">
      <header class="header">
        <h2>Results</h2>
      </header>
      <ResultsList :logs="logs"/>

    </section>
    
  </section>
</template>

<style scoped>
header {
  line-height: 1.5;
}
</style>